@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-width: 20rem;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-width: 20rem;
  min-height: 100vh;
}

:root {
  --back-secondary: #003d96;
  --back-primary-on-blue: #002773;
  --back-accent-for-table: rgba(0, 61, 150, 0.08);
  --stroke-input-normal: rgba(77, 77, 77, 0.24);
  --text-primary-on-dark: #fff;
}

::-webkit-scrollbar {
  width: .3125rem;
  height: .625rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #878787;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

