@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 20rem;
  min-height: 100vh;
}

:root {
  --back-secondary: #003d96;
  --back-primary-on-blue: #002773;
  --back-accent-for-table: rgba(0, 61, 150, 0.08);
  --stroke-input-normal: rgba(77, 77, 77, 0.24);
  --text-primary-on-dark: #fff;
}
